#root {
  font-family: 'Montserrat',
    sans-serif;
}

.nav-link {
  font-size: 25px;
  color: #454658;
  padding: 0 20px;
}

.nav-link--active i {
  color: #7095a8;
}

.social-icon {
  font-size: 30px;
  color: #454658;
  padding: 15px 5px;
}